# Ignore build outputs but keep mbedtls source
build/*
!build/_deps/
build/_deps/mbedtls-build/
build/_deps/mbedtls-subbuild/
!build/_deps/mbedtls-src/
.cache/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out
